* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    overflow: hidden;
}

.start-screen {
    text-align: center;
    position: absolute;
    z-index: 1;
}

.reveal-button {
    background-color: #000000;
    border: 2px solid #000000;
    padding: 20px 40px;
    font-size: 24px;
    color: white;
    font-family: 'Arial', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.reveal-button:hover {
    background-color: #000000;
    color: black;
    transform: scale(1.1);
    box-shadow: 0px 10px 20px rgba(255, 255, 255, 0.5); /* Sombra branca */
}

.reveal-button:active {
    transform: scale(1.05);
    box-shadow: 0px 5px 10px rgba(255, 255, 255, 0.7); /* Sombra branca */
}

.reveal-text {
    font-size: 18px;
    color: #ffffff;
    margin-top: 20px;
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 80%;
    display: none;
}

.profile {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease-in-out;
    width: 250px;
    height: 400px;
    margin: 0 30px;
    border-radius: 10px; /* Arredondamento dos cantos dos perfis */
    box-shadow: 0px 10px 20px rgba(255, 255, 255, 0.7); /* Sombra branca ao redor do perfil */
}

.profile:hover {
    transform: scale(1.1);
}

.profile.left {
    box-shadow: 0px 10px 20px rgba(255, 255, 255, 0.6); /* Sombra mais suave no perfil à esquerda */
}

.profile.right {
    box-shadow: 0px 10px 20px rgba(255, 255, 255, 0.8); /* Sombra mais forte no perfil à direita */
}

.profile.bottom {
    box-shadow: 0px 10px 30px rgba(255, 255, 255, 0.7); /* Sombra mais suave e grande no perfil inferior */
}

.avatar {
    width: 180px;
    height: 180px;
    margin-bottom: 20px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0px 10px 20px rgba(255, 255, 255, 0.7); /* Sombra branca no avatar */
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.avatar:hover img {
    transform: scale(1.1);
}

.name a {
    font-size: 28px;
    color: #fff;
    text-decoration: none;
    margin-bottom: 20px;
    transition: color 0.3s ease;
    box-shadow: 0px 5px 10px rgba(255, 255, 255, 0.5); /* Sombra branca no nome */
}

.name a:hover {
    color: #000000;
}

.badges img {
    width: 30px;
    margin: 5px;
    box-shadow: 0px 5px 10px rgba(255, 255, 255, 0.5); /* Sombra branca nas badges */
}

.left {
    align-self: center;
}

.right {
    align-self: center;
}

.bottom {
    align-self: center;
}
