* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('fotodoshomi/banner.png') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
    overflow: hidden;
}

.start-screen {
    text-align: center;
    position: absolute;
    z-index: 1;
}

.reveal-button {
    background-color: #000000;
    border: 2px solid #000000;
    padding: 20px 40px;
    font-size: 24px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.reveal-button:hover {
    background-color: #000000;
    color: black;
    transform: scale(1.1);
}

.container {
    display: flex;
    justify-content: center; 
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    margin-top: 20px;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 250px;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.profile:hover {
    transform: scale(1.1);
}

.avatar {
    width: 180px;
    height: 180px;
    margin-bottom: 20px;
    border-radius: 50%;
    overflow: hidden;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.avatar:hover img {
    transform: scale(1.1);
}

.name {
    font-size: 24px;
    color: #fff;
    margin-bottom: 10px;
}

.name .nickr {
    text-decoration: none;
    font-weight: bold;
    font-size: 28px;
    color: #fff;
    transition: color 0.3s ease;
}

.name .nickr:hover {
    color: #000000;
}

.subnick {
    font-size: 18px;
    color: #ccc;
    margin-top: 5px;
    display: block;
}
